.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 60;
  width: '100%';
  flex-direction: 'row';
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(14, 53, 230);
}
.box{
    width: 100%;
    text-align:center;
    width:"20rem"
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
